*{
    margin: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
main{
    padding: 30px;
}

p{
    font-weight: bold;
}
header{
    height: 100px;
    background: #6d6d6d;
    box-shadow: 0 15px 30px 10px rgba(0, 0, 0, .5);
    overflow: hidden;
}

.left-side{
    width: 25%;
}
.input-side{
    width: 50%;
}
.right-side{
    width: 50%;
}
.header-sides{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
#logo{
    width: 188px;
    height: 100px;
    background-size: cover;
}

.search-input {
    height: 100%;
    width: 800px;
    padding-top: 2.6875rem;
    padding-left: 30px;
}
.search-input input{
    font-size: 15px;
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: 2.25rem;
    padding: 0 10px 0 36px;
    border: none;
    border-radius: 18px;
    outline: none;
    background-color: #f0f0f0;
}

.boss-container {
    padding: 80px;
}
.text-container{
    text-align: center;
}
.img-film {
    width: 201px;
    height: 226px;
    border-radius: 42px;
}
.film-container {
    display: flex;
    flex-wrap: wrap; 
    gap: 20px; 
}
.film-container > div {
    cursor: pointer;
    flex: 1;
    max-width: 300px;
    text-align: center;
    border: yellow 1px solid;
    border-radius: 20px;
}
footer{
    height: 88px;
    background-color: yellow;
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 40px;
    justify-content: space-between;
    margin: 20px;
}
footer img{
    width: 100px;
    height: 100px;
}
.popular-film-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-wrap: wrap;
    gap: 150px;
}
.popular-film-container > div{
    cursor: pointer;
    flex: 1;
    max-width: 300px;
    text-align: center;
    border-radius: 20px;
}
.button-div{
    width:350px;
    height:60px;
    display:flex;
    justify-content:center;
    align-items:center;
    border-radius:7px;
    padding:23px;
}

.signup-button{
    width:100%;
    height:55px;
    margin-right:7px;
    border:none;
    border-radius:5px;
    background-color:#e9ecf0;
    font-size:17px;
    font-weight:600;
    cursor:pointer;
}

.login-button{
    width:100%;
    height:55px;
    border:none;
    border-radius:5px;
    font-size:17px;
    font-weight:600;
    color:#fff;
    background-color:#1859c9;
    cursor:pointer;
}


.login-button:hover{
    
    background-color:#1859c9db;
}


.signup-button:hover{
    
    background-color:#e9ecf0d1;
}

@media screen and (max-width: 1098px) {
    header {
        height:111px; 
    }
    .left-side {
        width: 20%; 
    }
    .input-side {
        width: 360px;
    }
    #logo {
        width: 120px; 
    }
    .search-input {
        width: 100%; 
    }
}
#loading-container {
    display: none;
    justify-content: center;
}